  color:black;  /* set the text color to black here */
    font-family:Arial,Helvetica,Sans-serif;  /* set the font here */
    text-align:center;  /* set the text alignment here */
    height: 100%;
        width: 100%;
        background: url(images/PicsArt_11-14-09.40.05.jpg) no-repeat 50% 50% fixed;
        background-size: cover;



   }
